
p{
    color: rgb(2, 2, 26);
    font-size: 18px;
}
div{
    background-color: blue;
}
.div-h{
    background-color: blueviolet;
}
.h-segunda{
    color:brown;
    font: size 22px;
}
.p-segunda{
    color:aliceblue;
    font-size: 18px;
}
.div-lista{
    background-color: aquamarine;
}